@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    background-image: linear-gradient(315deg, #b8c6db 20%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100,100,100,0.1);
    width: 550px;
    max-height: 100%;
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1rem;
    margin: 0;
    text-align: center;
}
input{
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem 0;
}
ul li:hover{
   color:blue;
}


button{
    background-color:#332da7;
    border: none;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    padding: 0.7rem;

}
button:hover{
    background-color: #f5f7fa;
    color:rgb(0, 255, 0);
    box-shadow: inset 0 0 10px 5px rgba(17, 255, 0, 0.347);
}