
*{
    margin: 0;
    padding: 0;
    outline: none;
}

body, html{
    height: 100%;
}
form{
    background-color: #e4ba00;
    width: 250px;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[name="display"] {
    background: #e9e9e9;
    height: 50px;
    text-align: right;
    border-radius: 8px;
    margin: 5px;
    width: 220px;
    border: none;
    padding: 0 10px;
}

input[type="button"] {
    float: left;
    width: calc(100% / 4 - 6.5px);
    background: aqua;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    margin: 0 0 5px 5px;
    border: none;
}

input[type="button"]:nth-last-of-type(1){
    background: #e9e9e9;
    width: calc(50% - 6px);
}